html {
  box-sizing: border-box;
  font-family: sans-serif;
  background: #ffc600;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player {
  max-width: 750px;
  border: 5px solid rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}

.viewer {
  width: 100%;
  display: block;
}

.player__controls {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.player__button {
  background: none;
  border: 0;
  color: white;
  cursor: pointer;
  font-size: 18px;
  padding: 5px 10px;
}

.player__button:focus {
  outline: 0;
}

.player__slider {
  width: 100px;
  margin: 0 10px;
}

.progress {
  flex: 1;
  height: 10px;
  background: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  display: flex;
}

.progress__filled {
  width: 0%;
  background: #ffc600;
  flex: 0;
  flex-basis: 0%;
}

.player__controls > * {
  margin-right: 10px;
}